@media only screen and (min-width: 0px) and (max-width: 850px) {
  .equipoStyle {
    padding-top: 110px;
  }
}

@media only screen and (min-width: 851px) and (max-width: 1230px) {
  .equipoStyle {
    padding-top: 180px;
  }
}

@media only screen and (min-width: 1231px){
  .equipoStyle {
    padding-top: 200px;
  }
}
